
.site-info{
	text-align: center;
	
	@include breakpoint($screen-sm-min){
		text-align: left;
	}
	span{
		font-size:.8rem;
	}
}

.site-longevity{
	text-align: center;
	
	@include breakpoint($screen-sm-min){
		text-align: right;
	}
	span{
		font-size:.8rem;
	}
}

// Address Card
.address-card{ 
	font-family: $font-family-sans-serif; 
	text-align: center;

	@include breakpoint($screen-sm-min){
		text-align: initial;
	}

	h2{
		font-family: $font-family-sans-serif; 
		color: $brand-primary;
		font-weight: map-get($fw-roboto, normal);
		font-size: 21px;
		margin-bottom:10px;
		// color: blue;
	}

	address{ line-height: 1.5; font-size:.9rem; }

	.footer-links{
		margin: 0;
	    padding: 0;
	    list-style: none;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    flex-direction:column;
	    @include breakpoint($screen-sm-min){
			justify-content: flex-start;
			flex-direction: row;
		}
	    li{
	    	margin:10px 0;
		    line-height:1.2;
		    @include breakpoint($screen-sm-min){
				border-right: 1px solid $brand-primary;
				padding: 0 20px 0 0;
		    	margin: 10px 20px 10px 0;
			}
		    &:last-child{
		    	border-right:0;
		    }
	    }
	}
}

// Footer Blog Feed
.blog-feed{
	.panel-body{
		color: $text-color;
	}
}


// Navigation
.navbar{

	.nav-container{

	}

	#menu-main{
		>li{
			border-bottom:1px solid $gray-light;
			&:last-child{
				border:0;	
			}
			@include breakpoint(min-width $screen-sm){ 
				border:0;
			 }
		}
		
		.menu-item{
			position: relative;
 
			 @include breakpoint(min-width $screen-sm-min){ 
				&:after{
					content: "";
					display: block;
					height: 15px; 
					width: 1px;
					background-color: #000;
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);

				}

				&:last-child:after{
					background-color: transparent; 
				}
			 }
			 &.active{
			 	a{
			 		font-weight:600;
			 	}
			 }
			 &:not(.active, .current-menu-ancestor):hover{
			 	>a{
					color:$brand-primary;
			 	}
			 }
			 .dropdown-menu{
			 	li{
			 		&:after{
			 			display:none;
			 		}
			 	}
			 }
			 &.menu-item-has-children{
				a{
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			 }
			 &.current-menu-ancestor{
			 	>a{
			 		color: #555;
    				background-color: transparent;
    				font-weight:600;
			 	}
			 	.menu-item{
			 		&.active{
			 			a{
							font-weight:400;
			 			}
			 		}
			 	}
			 }
		}
	}

	.custom-logo-link{
		// @extend .navbar-brand; 
		width: 50%;

		@include breakpoint($screen-sm-min){
			display: none;
		}	
	}

	.vcenter{
		
		@include breakpoint($screen-md-min){
			min-height: $masthead-height;  
		}
	}

}

// Social Media
.lg-social-media-cont{ 
	text-align: center;
	@include breakpoint($screen-sm-min){ text-align: initial; }
}

.lg-social-media{
	display: inline-block;
	@include list-unstyled;
	margin-left: -5px;

	@include breakpoint($screen-sm-min){ float: right; }


  > li {
    display: inline-block; 
    padding-left: 5px; 
    padding-right: 5px; 
    a{
    	border: solid 1px #DDC199;
	    display: inline-block;
	    width: 35px;
	    height: 35px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
    }
  }
} 

//  site header
#masthead{
	display: flex;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #fff;
    box-shadow: 0 0 8px 2px $brand-primary;
    align-items:center;
    @media screen and (max-width: $screen-xs) {
		padding:0 15px;
	}
	.util-phone{
		width:226px;
	} 
    >div{
    	display:flex;
    	align-items:center;
    	&:first-child{ 
    		width:100%;
    		.brand-blurb{
    			padding: 0 20px;
			    font-size: 17px;
			    font-style: italic;
			    line-height: 27px;
			    color:$brand-primary;
			    display:none;
			    margin:0 0 0 auto;
			    @media screen and (min-width: 1200px) {
					display:block;
			    }
    		}
    	}
    	@media screen and (max-width: 900px) {
			justify-content:space-between;
			width:100%;
		}
    }
	&::before, &::after{
		display:none;
	}
}



.navbar-collapse{
	@media screen and (max-width: 900px) {
		padding:0;
	}
}

.navbar{
	min-height:0;
}
.navbar-toggle{
	padding:4px 10px;
	float:none;
	@media screen and (max-width: 900px) {
		margin:0;
	}
}

// Utility Phone number
.util-phone{

	$phone-fz: (
	  default : 25px,
	  small   : 25px,
	  medium  : 20px,
	  large   : 25px
	);

	.vcenter{
		text-align: center;
		margin-bottom: 12px;

		@include breakpoint($screen-sm-min){
			text-align: right; 
		}
	}



	a{
		@include font-size($phone-fz); 
		font-family: $headings-font-family;
		font-weight: map-get($fw-openSans, 'semi-bold');
		color: $gray-base;

		&:hover, &:focus{
			color: $gray; 
		}
		
	}
}

// Featured Image
.featured-image{
	// @include myoutline(red);
	height: 110px;
	background: url(./images/grey-pattern.jpg);
	border-bottom: solid 2px $brand-primary;
	margin-top: $header-height-desktop;
	@media screen and (max-width: $screen-xs) {
		margin-top: $header-height-mobile;
	} 

	.title-cont{
		// @include myoutline(blue); 
		text-align: center;
		font-family: $headings-font-family; 
		font-size: 30px;
		font-weight: map-get($fw-openSans, 'semi-bold');
		text-shadow: 1px 1px 1px #000;
		min-height: 110px; 
		color: #fff;
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;

		span{
			// flex: 0 1 100%
			width: 100%;
		}

	} 
}

// // Home Slider
.home .slider-absolute{
	position: absolute; 
	top: 0;
	z-index: 1; 
	width: 100%;
} 


.cta-testimonials{
	.hms-testimonials-rotator{
		margin: 60px;
		// outline: solid 1px red;
		text-align: center;
		position: relative;
		@media screen and (max-width: $screen-xs) {
			margin:60px 0;
		}
		.testimonial{
			font-size: 1.5rem;
			padding: 0 80px 48px 80px;
			font-family: $headings-font-family;
			font-style: italic;
			font-weight:300;
			@media screen and (max-width: $screen-xs) {
				font-size:1.3rem;
				padding: 0 40px 48px 40px;
			}
		}
		.author{
			font-family: $headings-font-family;
			font-style: italic;
			font-weight:300;
			font-size:1rem;
		}
		.date{}
		.url{}

		@include fa-sudo(true,'f10d');
		@include fa-sudo(false, 'f10e');

		&:before{
			float: left;
			position: absolute;
			left: 0;
			top: 16px;
			transform: translateY(-50%);
			font-size: 32px;
			color: $brand-primary;
		}
		&:after{			
			font-size: 32px;
			float: right;
			position: absolute;
			right: 0;
			top: 16px;
			transform: translateY(-50%);
			color: $brand-primary;
		}
	}
}

.sub-title{
	font-family: $headings-font-family;
    font-size: 1.1rem;
    margin: 0;
}

.caret{
    border-top: 7px dashed;
    border-top: 6px solid \9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-left:6px;
	@media screen and (max-width: $screen-xs) {
		border-top: 10px dashed;
	    border-top: 4px solid \9;
	    border-right: 8px solid transparent;
	    border-left: 8px solid transparent;
	    margin:0;
	}
}

.slick-slider{
	.slick-slide{
		img{
			width:100%;
		}
	}
	.slick-next, .slick-prev{
		width:35px;
		height:35px;
		&:before{
			font-size:35px;
		}
	}

	.slick-next{
		right:10px;
	}
	.slick-prev{
		left:10px;
		z-index:999;
	}
}