hr{
    border-bottom: 1px solid rgba(175, 173, 173, 0.71);
	height: 8px;
	max-width: 50%;
	margin-bottom: 1em;
	position:relative;
	background-color: transparent;

	&:after {
    content: "";
    display: block;
    width: 10%;
    background-color: $gray-base;
    height: 6px;
    position:absolute;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);

	}
}


//footer//

.bg-gray-alt2 {
    padding: 30px;
}

.fa-3x {
    font-size: 1.5em;
    color: #DDC199;
}

.pt-lg {
    padding: 10px 0 10px 0;
}

.site-footer .site-info {
    padding: 10px;
}

//contact form button//
.gform_wrapper .gform_footer .gform_button {
    font-weight: 300;
    font-size: 15px;
    padding: 13px;
    border-radius: 7px;
}



//header//
.nav > li {
    padding: 5px;
}

.fa-phone {
    padding: 8px 10px 6px 10px;
    border: solid 2px #DDC199;
    margin-right: 6px;
    color: $brand-primary;
}

.fa-envelope{
    padding: 8px 10px 8px 10px;
    border: solid 2px #DDC199;
    margin-right: 6px;
    color: #DDC199;
}

//internal header//
.featured-image .title-cont {
    font-size: 30px;
    font-weight: 400;
    text-shadow:none;
    }


//home page form//
.btn, .home-slider .gform_wrapper .gform_footer .gform_button {
	font-weight: 300;
    font-size: 15px;
    padding: 13px;
    border-radius: 7px;
    line-height: 1;
    border-color: transparent;
}
