.gallery{
	.tab{
		margin:0;
		margin-top:50px;
		padding:0;
		list-style:none;
		display: flex;
	    flex-direction: column;
	    li{
			a{
				display:block;
				padding:10px 20px;
				border-left:1px solid $gray-light;
				border-right:1px solid $gray-light;
				border-bottom:1px solid $gray-light;
				cursor:pointer;
				color:$gray-light;
				&.active{
					background-color:$gray-light;
					color:#fff;
				}
			}
			&:first-child{
				a{
					border-top:1px solid $gray-light;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}
			}
			&:last-child{
				a{
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}
			}
	    }
	}
}