$placeholder-color: $gray-light;

::-webkit-input-placeholder { /* Chrome */
  color: $placeholder-color;
  font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $placeholder-color;
  font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $placeholder-color;
  opacity: 1;
  font-weight: 300;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $placeholder-color;
  opacity: 1;
  font-weight: 300;
}


// Default Stuff
.gform_wrapper{
	margin-top: 48px;
	margin-bottom: 48px;

	// Form Body
	.gform_body{
		clear: both;
		.gform_fields{
			margin: 0;
			padding: 0;
			overflow: hidden;
			list-style-type: none;

			.gfield{
				margin-bottom: 20px;
				overflow: hidden;

				.gfield_label{
					@include span(2 of 12 split);
					text-align: right;
					text-transform: uppercase;
					font-weight: 700;
					padding: 12px 0;
					display: none;
				}

				.ginput_container{ 
					@include span(12);

					@include breakpoint($screen-sm-min){
						@include span(10 of 12 split);
						@include push(1 of 12 split);
					}


					input[type="text"],
					input[type="tel"],
					input[type="email"],
					textarea
					{
						width: 100%;
						padding: 18px 12px;
						border: solid 1px $gray-light;
						font-size:16px;
					}
				}
			}

		}

	}

	// Form Footer
	.gform_footer{
		// outline: solid 1px green;
		text-align: center;

		.gform_button{
			display: inline-block;
			padding: 12px 20px; 
			border: solid 0 $gray-dark;
			text-transform: uppercase;
			color: #fff;  
			background-color: $gray-dark;
			font-weight: 700;
			font-size: 20px;
			// font-family: $ff-lato;
		}
	}

	// Validation Stuff
	.validation_error{
		// outline: solid 1px red;
		@include span(10 of 12 split);
		@include push(1 of 12 split);
		margin-bottom: 12px;
		color: red;
		font-size: 12px;
	}

	.validation_message{
		display: none;	
	}

	.ginput_container{ 
		input[aria-invalid="true"] { border-color: red !important; }
	}

}


// Home slider styling 
.home-slider{
	position: relative;
 
	.gform_wrapper{
	margin:20px;
	padding: 0;
	display:none;

	@include breakpoint(1200px){
		display:block;
	}

	@include breakpoint($screen-sm-min){
		margin: 36px 0;
		position: absolute;
		top: 50%;
		right: 50px;
		width: 400px;
		background-color: rgba($gray-dark, 0.7);
		padding: 12px 12px;
		transform: translateY(-50%);
	}

	@include breakpoint($screen-md-min){
		margin: 50px 0;
		right: 75px;
		padding: 30px 15px 20px 15px;
	}

	// Form Heading
	.gform_heading{
		text-align: center;
		color: #fff; 
		margin-bottom: 12px;
	}

	// Form Body
	.gform_body{
		// @include container();
		clear: both;
		.gform_fields{
			margin: 0;
			padding: 0;
			overflow: hidden;
			list-style-type: none;

			.gfield{
				margin-bottom: 10px;
				overflow: hidden;

				.gfield_label{
					// outline: solid 1px green;
					@include span(2 of 12 split);
					text-align: right;
					text-transform: uppercase;
					font-weight: 700;
					padding: 12px 0;
					display: none;
				}

				.ginput_container{ 
					// outline: solid 1px green;
					@include span(12 of 12 split);
					// overflow: hidden;

					input[type="text"],
					input[type="tel"],
					input[type="email"],
					textarea
					{
						width: 100%;
						padding: 3px 12px;
						border: solid 1px #231F20;
						box-sizing: border-box;
					}

					textarea{
						max-height: 100px;
						margin: 0;
					}
				}
			}

		}

	}

	// Form Footer
	.gform_footer{
		// outline: solid 1px green;
		text-align: center;

		.gform_button{
			@extend .btn;
			@extend .btn-primary;

			// display: inline-block;
			// padding: 12px;
			// border: solid 0 $gray-dark;
			// text-transform: uppercase;
			// color: #fff;
			// background-color: #000;
			// font-weight: 700;
			// font-size: 16px;
		}
	}

	// Validation Stuff
	.validation_error{
		// outline: solid 1px red;
		@include span(10 of 12 split);
		@include push(1 of 12 split);
		margin-bottom: 12px;
		color: darken(#fff, 20%);
		font-size: 12px;
	}

	.validation_message{
		display: none;	
	}

	.ginput_container{ 
		input[aria-invalid="true"] { border-color: blue !important; }
	}


	}
}