.util-phone a{
	font-size:1.1rem;
	font-weight:300;
}

.navbar{


$nav-fontsize: (
  default : 17px,
  small   : 16px,
  // 901px   : 11px,
  medium  : 17px,
  large   : 17px
);


	#menu-main{


		.menu-item{
			@include font-size($nav-fontsize);
		}
	}
}



		.site-phone{
			display: block;
			text-align: center;
			background-color: $gray-light;
			padding: 4px 0;
			margin-bottom: 0px;


			@include breakpoint(901px){
				display: none;
			}
		}