.home-services{
	list-style:none;
	padding:0;
	display:flex;
	flex-wrap:wrap;
	max-width:850px;
	margin:auto auto;
	li{
		width: calc( 33.33% - 30px );
		margin: 15px;
		@media screen and (max-width: $screen-md) {
			width: calc( 50% - 30px );
		}
		@media screen and (max-width: 655px) {
			width: calc( 100% - 30px );
		}
		h2{
			color: $gray-alt1;
			margin-top:10px;
			font-size:1.4rem;
		}
		p{
			font-size:.9rem;
		}
		.cta{
		    padding: 5px 10px;
		    font-size: .8rem;
		    border-radius: 5px;
		}
		&:first-child{
			background-color:#6d7073;
			display:flex;
			justify-content:center;
			align-items:flex-start;
			flex-direction:column;
			padding:25px;
			h2{
				color:$headings-color;
				font-size:1.7rem;
				text-align:left;
				@media screen and (max-width: $screen-xs) {
					font-size:1.2rem;
				}
			}
			p{
				color:#fff;
				text-align:left;
			}
		}
	}
	.home-services-image{
		position:relative;
		img{
			width:100%;
			display:block;
		}
		.overlay{
			position:absolute;
			left:0;
			top:0;
			width:calc( 100% - 30px );
			height:calc( 100% - 30px );
			margin: 15px;
			border:1px solid #fff;
		}
	}
}

.home{
	.home-slider{
		margin-top: $header-height-desktop;
		@media screen and (max-width: $screen-xs) {
			margin-top: $header-height-mobile;
		}
	}
	#masthead{
		@media screen and (max-width: $screen-sm) {
			background-color: #fff;
		}
	}
}