/* website split content style */
.split-content {
    display: flex;
    align-items: center;
    width:100%;
    &.intro-block-white {
        align-items: flex-start;
    }
    .half-image {
        width: 50%;
        display: flex;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .half-copy {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
	    text-align: left;
	    max-width: 1920px;
	    margin: 12px 0;
        text-align: left;
        p {
	        text-align: left;
	    }
	    h2 {
	        text-align: left;
	        margin-top: 9px;
            line-height: 1.6rem;
	    }
	    h3{
	    	font-size:1.2rem;
            line-height: 1.6rem;
	    }
	    ul,ol {
	        padding-left: 20px;
	        text-align: left;
            padding:0;
	        li {
	            margin-bottom: .3rem;
	            font-size: 1rem;
	        }
	    }
    }
}

.reverse {
    flex-direction: row-reverse;
}

@media screen and (max-width: $screen-sm) {
    .split-content {
        flex-direction: column;
        .half-copy {
            padding: 5% 0;
            p,
            h2,h3,
            img {
                padding: 0 5%;
            }
            ul,
            ol {
                padding: 0 5%;
            }
        }
        .half-copy,
        .half-image {
            width: 100%;
        }
    }
}
/* end */

.intro-block{
	padding: 4rem 0;
	text-align:center;
	@media screen and (max-width: $screen-sm) {
		padding: 2rem 14.5px;
	}
    hr{
        margin-left:auto;
        margin-right:auto;
        margin-bottom:50px;
    }
    h2, h3{
        margin-top:0;
    }
    h2{
        margin-bottom: 1.2rem;
    }
    &.intro-copy{
        max-width:960px;
        margin:auto auto;   
    }
}

.no-padding-bottom{
    padding-bottom:0;
}

.no-padding-top{
    padding-top:0;
}

.bg-gray{
    background-color: $gray-lighter !important;
    color: #404040 !important;
    a{
        color:#404040;
        text-decoration:none;
    }
}

.check-mark{
    list-style:none;
    li{
        background-image: url(/wp-content/themes/bridgemachine/images/check-mark.png);
        background-repeat: no-repeat;
        padding-left: 30px;
        background-size: 16px;
        background-position: 0 50%;
    }
}