body, html{
	font-size:17px;
}

p{
	line-height:25px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	line-height:1.3;
}

#main{
	color: $gray-light;
}

// Site Container 
.site{
	// @include myoutline(blue);
	@include container(100%);
}

// Site Header
.site-header{
	// @include myoutline(red);
	// margin-bottom: 12px;
	
	.site-branding{
		// @include myoutline(green);

		padding: 10px;
		width: 100%;
		max-width: 300px;
		@include breakpoint(901px){
			
			width: 35%;
		}
		
		.custom-logo-link{
			display:block;
			img{
				display:block;
				width:100%;
			}
		}



	}

	.navbar-collapse{
		// top: $header-height-desktop;
		.mobile-header-phone{
			display:none;
		}
		@media screen and (max-width: $screen-xs - 1px) {
			// top: $header-height-mobile;
		}
		@media screen and (max-width: $screen-sm - 1px) {
			position: fixed;
		    margin: 0;
		    left: 0;
		    width: 100vw;
		    background-color: $gray-lighter;
		    box-shadow: 3px 7px 13px 0px #c3bfbf;
		    .mobile-header-phone{
		    	display:block;
		    }
		    .navbar-nav{
		    	margin:0;
		    }
		}
	}

	#menu-main{	
		li:nth-last-child(2):after{
			display:none;
		}
		
		@media screen and (max-width: $screen-xs) {
		    top: $header-height-mobile;
		}
	}

	.util-phone{

	}
}

// Adjustment for home slider
.home { 

		#masthead{
			
		}

		#menu-main{
			@media screen and (max-width: $screen-sm - 1) {
			    box-shadow: 0 8px 19px -3px #ababab;
			}
		}

	// .site-content{
	// 	@include myoutline(red);
	// 	margin-top: 664px;
	// }
}


// Site Content
.site-content{
	// @include myoutline(red);
	@include container();
	clear: both;

	.content-area{
		// @include myoutline(blue);
		@include span(12);

		// // SM Breakpoint
		// @include breakpoint($screen-sm-min){
		// 	@include span(12);
		// }

		// // MD Breakpoint
		// @include breakpoint($screen-md-min){
		// 	@include span(12);
		// }

		// // LG Breakpoint
		// @include breakpoint($screen-lg-min){
		// 	@include span(9);
		// }
	}

	.widget-area{
		@include myoutline(blue);
		@include span(12);

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(5);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(4);
		}

		// LG Breakpoint
		@include breakpoint($screen-lg-min){
			@include span(3);
		}

	}
}

// Site Footer
.site-footer{
	// @include myoutline(red);

	.footer-address{
		// @include myoutline(red);
		@include span(12);

		// SM Breakpoint
		//@include breakpoint($screen-sm-min){
		//	@include span(6);
		//}

		// MD Breakpoint
		//@include breakpoint($screen-md-min){
		//	@include span(6);
		//}
	}
	
	.footer-utility{
		// @include myoutline(red);
		@include span(12);
		
		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(6);
		}
	}

	.site-info{
		// @include myoutline(yellow);
		@include span(12);

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}
	}

	.site-longevity{
		// @include myoutline(yellow);
		@include span(12);		

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}
	}

}

.container{
	@include container();
}

.block{
	padding-top:50px;
	padding-bottom:50px;
}

.featured-image{
	position:relative;
	.title-cont{
		min-height:0;
		height:100%;
		position:absolute;
		left:0;
		top:0;
	}
}

.slider-fixed{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	z-index:1;
}

.util-phone{
	display:inline-block;
	@media screen and (max-width: 900px) {
		display:none !important;
	}
}

.cta{
	display:inline-block;
	padding: 12px 20px;
    background-color: $brand-primary;
    border:1px solid $brand-primary;
    color:$gray-alt2 !important;
    border-radius: 8px;
    &:hover{
    	background-color:#fff;
    }
}

.block-cta{
	h2, a{
		color:#fff;
		margin:0;
	}
	a{
		padding:10px 20px;
		background-color:#fff;
		color:$gray-alt2;
		border-radius:8px;
	}
	p{
		font-size: 1.2rem;
	    color: #fff;
	    margin-bottom: 5px;
	    font-weight: 300;
	}
	.container{
		>div{
			width:100%;
			display:flex;
			justify-content:space-between;
			align-items:left;
			flex-direction:column;
			a{
				margin-top:15px;
			}
			@include breakpoint($screen-sm-min){
				flex-direction:row;
				align-items:center;
				a{
					margin-top:0;
				}
			}
		}
	}
}

h1,h2,h3,h4,h5,h6{
	margin-top:0;
}
