/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color:  $link-color;
	text-decoration: $link-hover-decoration;
}

a:visited {
	color: $link-color;
	text-decoration: $link-hover-decoration;
}

a:hover, a:focus, a:active {
	color: $link-hover-color;
} 

a:focus {
	outline: none;
}

a:hover, a:active {
	outline: 0;
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	// color: #404040;
	font-family: $font-family-sans-serif;
	font-weight: map-get($fw-roboto, 'light'); 
	// font-size: 16px;
	// font-size: 1rem;
	 line-height: 1.7;
}