.single-service{
	.featured-image{
		.img-cont{
			display:none;
		}
	}
	.services{
		.tab{
			margin:0;
			margin-top:50px;
			padding:0;
			list-style:none;
			display: flex;
		    flex-direction: column;
		    li{
				a{
					display:block;
					padding:10px 20px;
					border-left:1px solid $gray-light;
					border-right:1px solid $gray-light;
					border-bottom:1px solid $gray-light;
					cursor:pointer;
					color:$gray-light;
					&.active{
						background-color:$gray-light;
						color:#fff;
					}
				}
				&:first-child{
					a{
						border-top:1px solid $gray-light;
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
					}
				}
				&:last-child{
					a{
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
					}
				}
		    }
		}

		.tab-content{
			padding-left:0;
			margin-top:15px;
			position:absolute;
			left: -10000px;
			top: -10000px;
			width:100%;
			visibility: hidden;
			@include breakpoint($screen-sm-min){
				padding-left:50px;
				margin-top:0;
			}
			.description{
				padding:15px 0;
			}
			h2{
				font-size:1.7rem;
				color: $gray-alt2;
			}
			&.active{
				position:relative;
				left:0;
				top:0;
				visibility:visible;
			}
		}
	}

	.book-consultation{
		background-color:$brand-primary;
	}

	.current-projects{
		>h2{
			text-align:center;
		}
		.project-details{
			>div:first-child{
				text-align:center;
				.tab{
					margin:0;
					margin-top:50px;
					padding:0;
					list-style:none;
					display: flex;
    				justify-content: center;
    				flex-direction:column;
    				@include breakpoint($screen-sm + 1){
						flex-direction: row;
    				}
					@media screen and (max-width: $screen-sm) {
	    				li{
							a{
								display:block;
								padding:10px 20px;
								border-left:1px solid $gray-light;
								border-right:1px solid $gray-light;
								border-bottom:1px solid $gray-light;
								cursor:pointer;
								color:$gray-light;
								&.active{
									background-color:$gray-light;
									color:#fff;
								}
							}
							&:first-child{
								a{
									border-top:1px solid $gray-light;
									border-top-left-radius: 5px;
									border-top-right-radius: 5px;
								}
							}
							&:last-child{
								a{
									border-bottom-left-radius: 5px;
									border-bottom-right-radius: 5px;
								}
							}
					    }
					}
				    
				    @include breakpoint($screen-sm + 1){
						li{
							a{
								display:block;
								padding:10px 40px;
								border-top:1px solid $gray-light;
								border-bottom:1px solid $gray-light;
								border-right:1px solid $gray-light;
								cursor:pointer;
								color:$gray-light;
								&.active{
									background-color:$gray-light;
									color:#fff;
								}
								@include breakpoint($screen-sm + 1){
									flex-direction: row;
			    				}
							}
							&:first-child{
								a{
									border-left:1px solid $gray-light;
									border-top-left-radius: 5px;
									border-bottom-left-radius: 5px;
								}
							}
							&:last-child{
								a{
									border-top-right-radius: 5px;
									border-bottom-right-radius: 5px;
								}
							}
					    }
    				}
				}
			}
		}

		.project-contents{
			margin-top:50px;
		}

		.tab-content{
			position:absolute;
			left: -10000px;
			top: -10000px;
			width:100%;
			visibility: hidden;
			.description{
				padding:15px 0;
			}
			h2{
				font-size:1.7rem;
				color: $gray-alt2;
			}
			&.active{
				position:relative;
				left:0;
				top:0;
				visibility:visible;
			}
			.tab{
				display:flex;
				flex-wrap:wrap;
				list-style:none;
				margin:0;
				padding:0;
				margin:10px -10px;
				li{
					width:25%;
					padding:10px;
				}
			}
		}
		.deadline{
			font-size:1rem;
			color:$gray-alt2;
		}
		.docs{
			margin-top:15px;
			>div{
				display:flex;
				align-items:center;
				margin-bottom:10px;
				a{
				display:inline-block;
					margin-left:15px;
				}
				i{
					font-size:30px;
				}
			}
		}
	}
}